openapi: 3.0.0
info:
  title: Infura infra Open API
  description: Infura Open API restful, for more deatil visit [CommonMark](http://docs.infura.io).
  version: 1.0.0
servers:
  - url: http://api.infura.io/v1
    description: Optional server description, e.g. Main (production) server
  - url: http://staging-api.example.com
    description: Optional server description, e.g. Internal staging server for testing
paths:
  /transactions/{txHash}:
    get:
      summary: Get Transaction details by hash
      parameters:
        - in: path
          name: txHash
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResp'
          description: ''
  /transactions:
    post:
      summary: Get Transaction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionReq'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResp'
          description: ''
  /blocks:
    post:
      summary: Returns a list of users.
      description: Optional extended description in CommonMark or HTML.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockReq'
      responses:
        '200':
          description: A JSON array of user names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResp'
components:
  schemas:
    TransactionReq:
      type: object
      properties:
        blockString:
          type: string
          description: could be latest|earliest|pending
          default: latest
          enum:
            - latest
            - earliest
            - pending
          example: latest
        blockNumber:
          type: integer
          format: int64
          description: The block number
          default: 0
          example: 6008149
        txIndex:
          type: integer
          format: int64
          description: Represent the position in the block
          default: 0
          example: 1
        hash:
          type: string
          description: Representing the hash (32 bytes) of a block
          example: '0xbb3a336e3f823ec18197f1e13ee875700f08f03e2cab75f0d0b118dabb44cba0'
    TransactionResp:
      type: object
      properties:
        block:
          type: integer
          format: int64
          description: Number of the block including this transaction
          example: 6008149
        value:
          type: integer
          format: int64
          description: value transferred in Wei
        price:
          type: integer
          format: int64
          description: gas price provided by the sender in Wei
        gas:
          type: integer
          format: int64
          description: gas provided by the sender.
        hash:
          type: string
          description: 32 Bytes - hash of the block including this transaction. Omitted when it's pending.
        from:
          type: string
          description: 20 Bytes - address of the sender.
        to:
          type: string
          description: 20 Bytes - address of the receiver. Omitted when it's a contract creation transaction.
    BlockReq:
      type: object
      description: Block request object
      properties:
        number:
          type: integer
          format: int64
          description: number of the block
          example: 6008149
          default: 0
        has:
          type: string
          description: string representing the hash (32 bytes) of a block
    BlockResp:
      type: object
      description: Block response object
      properties:
        number:
          type: integer
          format: int64
          example: 6008149
        hash:
          type: string
          description: 32 Bytes - hash of the block. Null when the returned block is the pending block.
        uncleHash:
          type: string
          description: 32 Bytes - SHA3 of the uncles data in the block.
        parentHash:
          type: string
          description: 32 Bytes - hash of the parent block.
        difficulty:
          type: integer
          format: int64
          description: integer of the difficulty for this block.
        transactionAmount:
          type: integer
          format: int64
          description: Amount on Wei
      required:
        - hash
